.promo-day__header {
  background-color: #242424;
  border-bottom: 2px solid #fddf5b;
  display: flex;
  align-items: center;
  padding: 3.5%;
  padding-left: 5%;
}

.promo-day__header h1 {
  font-size: 1.5rem;
    font-weight: lighter;
    padding-right: 5%;
}
