.admin-list__list {
    display: flex;
    flex-direction: column;
    align-items: center ;
    padding: 0 2.5%;
    width: 100%;
    box-sizing: border-box;
}

.admin-list__list > * {
    margin: 5% 0;
}